@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  background-color: #e5e5e5;
}

.main_con {
  display: flex;
  justify-content: center;
}

.container {
  width: 375px;
  height: 718px;
  background-color: #fff;
}

.nav {
  /* border: 1px solid green; */
  width: 375px;
  height: 48px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 30%;
  height: 96%;

  /* border: 1px solid red; */
}

.logotxt {
  /* border: 1px solid green; */
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #6070ff;
}

.hmburgr {
  /* border: 1px solid yellow; */

  /* width: 70%; */
  height: 96%;
}

.content {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.primText {
  width: 327px;

  /* border: 1px solid aqua; */
}

.ph2 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
}

.secndText {
  width: 327px;

  /* border: 1px solid blueviolet; */
}

.stp {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.social {
  /* border: 1px solid crimson; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.socialMedia {
  /* border: 1px solid darkblue; */
  gap: 16px;
  width: 327px;
}

.supprtText {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  color: #7f8cff;
}

.socialIcons {
  width: 327px;
  height: 20px;

  /* border: 1px solid deeppink; */
  display: flex;
  justify-content: space-evenly;
}
